:root {
  font-style: normal;
  color: #212121;
  background-color: #ffffff;
}
.buttons:hover {color: #ffffff;
background-color: #2196f3;}
.link-header :focus {color: #2196f3;}
.link-footer :focus {color:rgba(255, 255, 255, 0.6)}
.main-navigation {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
}
.logo {
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1;
letter-spacing: 0.03em;
}
span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.main-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 0.73;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2f303a;
}
.article-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 0.85;
  letter-spacing: 0.03em;
}
.article {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 0.58;
  letter-spacing: 0.03em;
  color: #757575;
}
.section-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 0.85;
  letter-spacing: 0.03em;
  color: #212121;
}
.image-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 0.5;
  letter-spacing: 0.06em;
  color: #212121;
}
.image-title2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 0.53;
  letter-spacing: 0.03em;
  color: #757575;
}
.section-footer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  background-color: #2f303a;
}
.team-image-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.team-image-title2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
.address-1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.46
  letter-spacing: 0.03em;
  color: #FFFFFF
}
.mail {font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.46;
letter-spacing: 0.03em;
text-decoration-line: underline;
color: rgba(255, 255, 255, 0.6);
}
.phone {font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.46;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
